<div class="container"> 

<h1>Edição de Lista</h1>

<%= form_with model: @todo_list, local: true do |form| %>
  <% if @todo_list.errors.any? %>
    <div>
      <ul>
        <% @todo_list.errors.full_messages.each do |message| %>
          <li class="liError"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Titulo %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Descrição %><br>
    <%= form.text_area :description %>
  </div>


  <div>
    <%= form.submit "Atualizar Lista", class: "zoom-btn" %>
  </div>

  <div class="datas">
   <p> <strong>Criado em:</strong> <%= @todo_list.created_at.strftime("%d/%m/%Y") %></p>
   <p> <strong>Atualizado em:</strong> <%= @todo_list.updated_at.strftime("%d/%m/%Y %H:%M") %></p>
  </div>
  
<% end %>




  <div class="divVoltar">
    <%= link_to 'Voltar', todo_lists_path, class:'voltarForm' %>
  </div>

</div>