<div class="container">
  <h1><%= @todo_list.title %></h1>
 <p class="description"><strong>Descrição:</strong> <%= @todo_list.description %></p>

 <div class="progress-bar">
 <div class="progress-fill >" style="width:<%= calculate_progress(@completed_tasks, @total_tasks) %>%; background-color: <%= define_progress_color(@completed_tasks, @total_tasks) %>;">
      <span style="margin-left: 0px;"><%= calculate_progress(@completed_tasks, @total_tasks) %>%</span>
    </div>
  </div>

  <div class="containerShow">
    <ul style="margin-top: 5px;">
      <% @todo_items.each do |item| %>
        <li class="<%= css_class_for_priority(item.priority) %>">


        <%= link_to (item.done ? '(✔️)' : '(❌)'),
                      toggle_done_todo_list_todo_item_path(@todo_list, item),
                      data: { turbo_method: :patch }, class: 'leftli checks' %> 
          <%= item.content %> 
          <%= link_to '🗑️', todo_list_todo_item_path(@todo_list, item), class: 'rightli delete',
            data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja excluir?' } %>
          <%= link_to '✏️', edit_todo_list_todo_item_path(@todo_list, item), class: 'rightli edit' %> 
        </li>
      <% end %>
    </ul>
      <div style="text-align: right; margin-top: 30px;">
        <%= link_to 'Novo Item', new_todo_list_todo_item_path(@todo_list), class: 'btn btn-criar zoom-btn' %> 
      </div>
  </div>

  <div class="divVoltar">
      <%= link_to 'Voltar para Listas', todo_lists_path, class:'voltarForm' %>
  </div>

</div>